name: Deploy the MDBook to GitHub Pages

on:
  push:
  pull_request:
jobs:
  deploy-mdbook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: sudo apt-get update

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.6'

      - run: curl -LSfs https://japaric.github.io/trust/install.sh | sh -s -- --git Michael-F-Bryan/mdbook-linkcheck
      - run: apt-get install -y plantuml build-essential

      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook-plantuml

      - run: mdbook build

      #- name: Deploy
        #uses: peaceiris/actions-gh-pages@v3
        #with:
          #github_token: ${{ secrets.GITHUB_TOKEN }}
          #publish_dir: ./target/book
